
  <% if !user_signed_in? %>
    <h3>Welcome to Rails Issue Tracker</h3><br>
    <div class="jumbotron">
      <p>Rails Issue Tracker allows you to create Tickets.</p>
      <p>Within Tickets you can create multiple Issues which you can track, assign, and set due dates to.</p>
    </div>
    <h5>Please <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Log In", new_user_session_path %>.</h5>
  <% else %>
    <h2>Welcome back, <%= @user.email %></h2><br>
    <h3>Dashboard</h3>
    <% if !@tickets.empty? %>
      <div class="jumbotron">
        <div>
          <h4>Your current open tickets:</h4>
          <% @tickets.each do |ticket| %>
            <%= link_to ticket.id, ticket_path(ticket) %> -
            <%= ticket.title %><br>
          <% end%><br>
        </div>
        <div>
          <h4>Reports</h4>
          <%= link_to 'Closed and Overdue Tickets', reports_closed_overdue_tickets_path %>
        </div>
      </div>
    <% end %>
    <%= link_to "New Ticket", new_ticket_path, :class=> 'btn btn-success' %>
  <% end %>
