<h1>** ADD Ticket Name Informationn **</h1>


<h3>Issue: <%= @issue.title %></h3>
<p>Description: <%= @issue.description %></p>

<p>Created On: <%= @issue.created_at %> | Due Date: <%= @issue.due_date %></p>
<p>Status: <%= @issue.status %></p>
<p>Assigned To: <% @issue.assigned_to %></p>
<p></p>