  <div class="row">
    <div class="col-md-6">
      <h3><%= @ticket.title %></h3>
      <h5>Ticket ID: <%= @ticket.id %>
      <h5>Due Date: <%= @ticket.due_date.strftime("%m/%d/%Y") %></h5>
      <h5>Status: <%= @ticket.status %></h5>
      <p>
        <%= link_to 'Edit Ticket', [:edit, @ticket], :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Delete Ticket', ticket_path(@ticket), data: { confirm: 'Are you sure?' }, method: :delete, :class => 'btn btn-danger btn-xs' %>
      </p><br>
    </div>

      <%# Would like to add a Delete link here %>
      <%# <%= link_to 'Delete Ticket', destroy_path %>

    <div class="col-md-6">
      <div class="jumbotron">
        <% if !@issues.empty? %>
          <h4>Issues:</h4>
          <% @issues.each do |issue| %>
            <%= link_to issue.id, ticket_issue_path(@ticket, issue) %> - <%= issue.title %> | <%= issue.status %><br>
          <% end %><br>
          <%= link_to 'Add Issue', new_ticket_issue_path(@ticket, @issue), :class => 'btn btn-success'%>
        <% else %>
          <br><br><p>No Issues within this Ticket, please add a <%= link_to 'New Issue', new_ticket_issue_path(@ticket, @issue)%>.</p>
        <% end %>
      </div>
    </div>
  </div>