<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn pull-right btn-default btn-xs" id="js-next" data-id="<%=@ticket.id%>">
      Next Ticket <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <h3 class="ticketTitle"><%= @ticket.title %></h3>
    <h5 class="ticketId">Ticket ID: <%= @ticket.id %>
    <h5 class="ticketDueDate">Due Date: <%= @ticket.due_date.strftime("%m/%d/%Y") %></h5>
    <h5 class="ticketLocation">Location: <%= @user_ticket.location %>
    <h5 class="ticketStatus">Status: <%= @ticket.status %></h5>
    <p>
      <%= link_to 'Edit Ticket', [:edit, @ticket], :class => 'btn btn-primary btn-xs' %>
      <%= link_to 'Delete Ticket', ticket_path(@ticket), data: { confirm: 'Are you sure?' }, method: :delete, :class => 'btn btn-danger btn-xs' %>
    </p><br>
  </div>

  <div class="col-md-6"><br>
    <div class="jumbotron">
      <% if !@issues.empty? %>
        <h4>Issues:</h4>
        <ul class="list-group">
          <% @issues.each do |issue| %>
          <li class="list-group-item">
            <span class="badge"><%= issue.status %></span>
            <%= link_to issue.title, ticket_issue_path(@ticket, issue) %>
          </li>
          <% end %><br>
        </ul>
        <%= link_to 'Add Issue', new_ticket_issue_path(@ticket, @issue), :class => 'btn btn-success'%>
      <% else %>
        <br><br><p>No Issues within this Ticket, please add a <%= link_to 'New Issue', new_ticket_issue_path(@ticket, @issue)%>.</p>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js.next").attr("data-id")) + 1;
      debugger
    })
  })
</script>