<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn pull-right btn-default btn-xs" id="js-next" data-id="<%=@ticket.id%>">
      Next Ticket <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <h3><span class="ticketTitle"><%= @ticket.title %></span></h3>
    <h5>Ticket ID: <span class="ticketId"><%= @ticket.id %></span></h5>
    <h5>Due Date: <span class="ticketDueDate"><%= @ticket.due_date.strftime("%m/%d/%Y") %></span></h5>
    <h5>Location: <span class="ticketLocation"><%= @user_ticket.location %></span></h5>
    <h5>Status: <span class="ticketStatus"><%= @ticket.status %></span></h5>
    <p>
      <%= link_to 'Edit Ticket', [:edit, @ticket], :class => 'btn btn-primary btn-xs' %>
      <%= link_to 'Delete Ticket', ticket_path(@ticket), data: { confirm: 'Are you sure?' }, method: :delete, :class => 'btn btn-danger btn-xs' %>
    </p><br>
  </div>

  <div class="col-md-6"><br>
    <div class="jumbotron">
      <% if !@issues.empty? %>
        <h4>Issues:</h4>
        <ul class="list-group">
          <% @issues.each do |issue| %>
          <li class="list-group-item">
            <span class="badge"><%= issue.status %></span>
            <%= link_to issue.title, ticket_issue_path(@ticket, issue)%>
          </li>
          <% end %><br>
        </ul>
        <%= link_to 'Add Issue', new_ticket_issue_path(@ticket, @issue), :class => 'btn btn-success'%>
      <% else %>
        <br><br><p>No Issues within this Ticket, please add a <%= link_to 'New Issue', new_ticket_issue_path(@ticket, @issue)%>.</p>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $("#js-next").on("click", function() {
      var nextId = parseInt($("#js-next").attr("data-id")) + 1;
      $.getJSON(`/tickets/${nextId}`, function(data){

        // Updates Ticket information after "Next Ticket" is clicked
        $(".ticketTitle").text(data["title"]);
        $(".ticketId").text(data["id"]);
        var date = new Date(data["due_date"])
        $(".ticketDueDate").text(`${date.getMonth()+1}/${date.getDate()}/${date.getFullYear()}`);
        $(".ticketLocation").text(data["user_tickets"][0]["location"]);
        $(".ticketStatus").text(data["status"]);
        $("#js-next").attr("data-id", data["id"]);
        window.history.replaceState( {}, null, `${data["id"]}`)  // Updates browser URL to visible Ticket

        // *** Need to figure out how to update Edit and Delete Tickets after Next is pressed.
     
        // Updates Issues information after "Next Ticket" is clicked.
        $(".list-group").text("")  // Clears out visible issues.
        data["issues"].forEach(function(el) {
          var li = document.createElement('li');
          li.setAttribute('class', 'list-group-item')
          li.innerHTML = `<span class="badge">${el["status"]}</span><a href="/tickets/${el["ticket_id"]}/issues/${el["id"]}">${el["title"]}</a>`;
          $(".list-group").append(li);
        });
        
        // *** Need to figure out hwo to update the Add Issue button when Next Ticket is pressed"
      });
    });
  });
</script>

